/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.42);
  z-index: 9999;
  cursor: pointer;
  display: none;
  overflow: auto;
}
.opened {
  display: flex;
  align-items: center;
  justify-content: flex;
}
.opened .modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.42);
}
.modal-window {
  position: absolute;
  /*    top:10%;*/
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 21;
  cursor: default;
  box-shadow: 0px 0px 20px 3px #333;
  margin-bottom: 30px;
  margin-top: -9999px;
  transition: all ease-in 0.5s;
}
.modal-window.small {
  max-width: 450px;
}
.modal-window.big {
  max-width: 80%;
  width: 800px;
}
.modal-window.open {
  margin-top: 0px;
  transition: all ease-out 0.5s;
}
.modal-header {
  padding: 15px;
  text-align: center;
  /*    background-color: #014da4;*/
}
.modal-header.transperent {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  left: 0;
  right: 0;
  z-index: 11;
}
.modal-title {
  font-size: 1.6em;
  text-transform: uppercase;
}
@media (max-width:576px) {
  .modal-title {
    font-size: 1em;
  }
}
.btn-close {
  position: fixed;
  top: 25px;
  right: 20px;
  color: #f5f5f5;
  font-size: 64px;
  font-family: MONOSPACE;
  padding: 0px 10px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .btn-close {
    top: -10px;
    right: -10px;
  }
}
.modal-body {
  padding: 40px 60px;
  text-align: center;
}
@media (max-width:576px) {
  .modal-body {
    padding: 20px 10px;
  }
}
.modal-body_text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 400px) {
  .modal-body_text {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 18px;
  }
}
