@import "../variables.less";
.footer__links{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    padding: 30px 0 40px;
}
.footer-menu{
    padding: 10px 15px;
    flex-shrink: 1;
}
.footer__contacts{
//    flex-basis: 320px;
    padding: 10px 35px;
    flex-shrink: 0;
}
.footer-menu__list{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-menu__item{
    margin-right: 20px;
    margin-bottom: 30px;
}
.footer-menu__link{
    padding: 5px 10px;
    border: 1px solid rgba(255,255,255, 0.4);
    border-radius: 4px;
    color: rgba(255,255,255, 0.6);
    transition:  all .4s ease;
    &:hover{
        border: 1px solid rgba(255,255,255, 1);
        color: rgba(255,255,255, 1);
    }
}

@media @tablet{

}

@media @mobile{
    .footer__links{
        flex-direction: column;
    }
    .footer__contacts{
        order: 1;
    }
    .footer-menu{
        order: 0;
    }
    .footer-menu__item{
        margin-right: 5px;
        margin-bottom: 20px;
    }
}
