/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.footer {
  padding-top: 50px;
  background-color: #bbb;
  color: #fff;
}
.footer--dark {
  background-color: #333;
  color: #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
}
.footer--dark .copyrights {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.footer__links {
  display: flex;
}
.footer-title {
  text-align: center;
}
@media (max-width:768px) {
  .sitemap {
    flex-wrap: wrap;
  }
  .sitemap__col {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .sitemap__col {
    width: 100%;
  }
}
