@import "../variables.less";

.footer{
    padding-top: 50px;
    background-color: #bbb;
    color: #fff;
}
.footer--dark{
    background-color: #333;
    color: #ccc;
    border-top-color: rgba(0,0,0,.2);
    .copyrights{
        background-color: rgba(0,0,0,.2);
        color: rgba(255,255,255,.25);
        text-shadow: 1px 1px 1px rgba(0,0,0,.1)
    }
}
.footer__links{
    display: flex;
}
.footer__contacts{
//    display: flex;
}
.footer-title{
    text-align: center;
}
@media @tablet{
    .sitemap{
        flex-wrap: wrap;
    }
    .sitemap__col{
        width: 50%;
    }
}
@media (max-width:400px){
    .sitemap__col{
        width: 100%;
    }
}
