/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
  max-width: 1170px;
}
@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width:768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width:576px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.dropdown-menu,
body {
  font-size: 0.875rem;
}
.dropdown-menu .nav-opened,
body .nav-opened {
  position: fixed;
}
::selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:active,
:focus {
  outline: 0 !important;
}
body {
  line-height: 1.5;
  color: #555;
  font-family: Lato, sans-serif;
  margin: 0;
  font-weight: 400;
  text-align: left;
  background-color: #fff;
}
a {
  text-decoration: none !important;
  color: #bcbcbc;
}
a:hover {
  color: #84c0de;
}
a img {
  border: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f68a8;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
  font-family: Raleway, sans-serif;
}
h5,
h6 {
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h4 {
  font-weight: 600;
}
h5,
h6 {
  font-weight: 700;
}
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #4FA0EC;
}
address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
small {
  font-family: Lato, sans-serif;
}
#wrapper {
  width: 100%;
  margin: 0;
  position: relative;
  float: none;
  background-color: #fff;
  overflow: hidden;
}
.section {
  position: relative;
  margin: 0;
  padding: 60px 0;
  /*    background-color: #3762cc6b;*/
  overflow: hidden;
}
.section-dark {
  background-color: #f5f5f5;
}
#content {
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
}
.content-wrap {
  position: relative;
  padding: 0;
}
.content-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/Background_LM/png/Background_LM_3.png);
  background-repeat: repeat-y;
  background-position: top;
  background-size: contain;
  z-index: 1;
}
.title {
  position: relative;
  margin-bottom: 30px;
}
.title h2 {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 0;
}
@media (max-width:768px) {
  .title h2 {
    font-size: 24px;
  }
}
.title-center {
  text-align: center;
}
.title-center h2 {
  padding: 0 15px;
}
.title-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/**** table *****/
table,
.table {
  display: table;
  width: 100%;
  border-spacing: 0;
}
thead,
.table-header {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tr,
.table-row,
table-header {
  display: table-row;
}
th,
.table-cell {
  display: table-cell;
  text-align: center;
  border-top: 1px solid #dedede;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dedede;
}
/***** columns **********/
.col-3 {
  flex-basis: 33%;
  padding: 0px 20px;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
/***** copyrights *******/
.copyrights {
  padding: 30px 0px;
}
#gotoTop {
  z-index: 299;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
}
#gotoTop:before {
  content: '\02c6';
  font-size: 54px;
  position: absolute;
  left: 12px;
  top: 16px;
}
@media (max-width:768px) {
  .col-t-2 {
    flex-grow: 1;
    flex-basis: 50%;
  }
}
@media (max-width:576px) {
  .col-m-1 {
    flex-grow: 1;
    flex-basis: 100%;
  }
  .col-m-2 {
    flex-grow: 1;
    flex-basis: 50%;
  }
}
