/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.pricing-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.pricing-item {
  flex-basis: 45%;
  background-color: #fff;
  padding: 20px 25px 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px #ddd;
  flex-grow: 1;
}
.pricing-title {
  text-align: center;
}
.pricing-img {
  display: block;
  padding: 10px 20px;
  height: 150px;
  width: auto;
  margin: auto;
}
.pricing-table {
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.pricing .table-body {
  font-size: 20px;
  line-height: 60px;
}
@media (max-width:768px) {
  .pricing .table-body {
    font-size: 18px;
    line-height: 40px;
  }
}
