@import "../variables.less";
.header {
    position: relative;
    // background-color: rgba(255, 255, 255, 0.83);
    height: 70px;
    transition: height .4s ease, opacity .3s ease;
}
.header--dark{
    background-color:#333;
}
.header-wrap {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    z-index: 199;
    -webkit-backface-visibility: hidden;
    height: 70px;
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transparent{
    background-color: rgba(0,0,0,0);
}
.header__logo{
    position: relative;
    height: 100%;
    width: 385px;
    border-top: 70px solid #fff;
    border-right: 25px solid transparent;
    @media @mobile{
        width: 280px;
    }
}
.logo__link{
    display: block;
    position: absolute;
    left: 20px;
    height: 40px;
    top: 20px;
    left: -5px;
    top: -60px;
}
.logo__img{
    max-height: 40px;
    width: auto;
    margin: 0;
    margin-left: 40px;
    transition: all .5s ease;
}
.header__phone{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 50px;
    @media (max-width: 670px){
        display: none;
    }
}
.header-menu{
    @media @desktop{
        order:2;
    }
}
@media @tablet{
    .logo__img{
    }
    .header__phone{
        margin-left: 20px;
        order:1;
    }
}
@media @mobile{
    .header__phone{
        font-size: 14px;
        display:none;
    }
    .header__logo{
        height: 30px;
        // position: absolute;
        // left: 0;
        // right: 0;
        // top:0;
    }
    .logo__link{
        left:0;
        padding-left: 15px;
        height:30px;
    }
    .logo__img{
        margin-left: 0px;
        height: 30px;
    }
}
