@import "../variables.less";
.header--sticky{
    border-bottom: 1px solid #f5f5f5;

    .header-wrap{
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
    .header__logo{
        position: relative;
    }
    .logo__img{
//        max-height: 40px;
        width: auto;
    }
}
@media @mobile {
    .header--sticky{
        .header-wrap{
            height: 60px;
        }
        .logo__img{
            max-height: 60px;
            margin: 0px 0px 0px 0px;
        }
    }
}
