/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.header--sticky {
  border-bottom: 1px solid #f5f5f5;
}
.header--sticky .header-wrap {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header--sticky .header__logo {
  position: relative;
}
.header--sticky .logo__img {
  width: auto;
}
@media (max-width:576px) {
  .header--sticky .header-wrap {
    height: 60px;
  }
  .header--sticky .logo__img {
    max-height: 60px;
    margin: 0px 0px 0px 0px;
  }
}
