/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.header {
  position: relative;
  height: 70px;
  transition: height 0.4s ease, opacity 0.3s ease;
}
.header--dark {
  background-color: #333;
}
.header-wrap {
  position: relative;
  background-color: #ffffff;
  z-index: 199;
  -webkit-backface-visibility: hidden;
  height: 70px;
  -webkit-transition: height 0.4s ease, opacity 0.3s ease;
  -o-transition: height 0.4s ease, opacity 0.3s ease;
  transition: height 0.4s ease, opacity 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.header__logo {
  position: relative;
  height: 100%;
  width: 385px;
  border-top: 70px solid #fff;
  border-right: 25px solid transparent;
}
@media (max-width:576px) {
  .header__logo {
    width: 280px;
  }
}
.logo__link {
  display: block;
  position: absolute;
  left: 20px;
  height: 40px;
  top: 20px;
  left: -5px;
  top: -60px;
}
.logo__img {
  max-height: 40px;
  width: auto;
  margin: 0;
  margin-left: 40px;
  transition: all 0.5s ease;
}
.header__phone {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}
@media (max-width: 670px) {
  .header__phone {
    display: none;
  }
}
@media (max-width:1200px) {
  .header-menu {
    order: 2;
  }
}
@media (max-width:768px) {
  .header__phone {
    margin-left: 20px;
    order: 1;
  }
}
@media (max-width:576px) {
  .header__phone {
    font-size: 14px;
    display: none;
  }
  .header__logo {
    height: 30px;
  }
  .logo__link {
    left: 0;
    padding-left: 15px;
    height: 30px;
  }
  .logo__img {
    margin-left: 0px;
    height: 30px;
  }
}
