input.text{
    border: 0;
    box-shadow: none;
    overflow: hidden;
    display: block;

    height: calc(1.5em + 1rem + 2px);
    width: 100%;
    margin-bottom: 30px;
    padding: .5rem 1rem;

    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-append {
    display: flex;
    justify-content: center;
}
