@import "../variables.less";
.accordion{}

.accordion__item{
    border-bottom: 1px solid rgba(0, 75, 112, 0.4);
    margin-bottom: 20px;
    padding-bottom: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: padding-bottom 1.5s ease, opacity 0.6s ease;
    &:hover{
        opacity: 1;
    }
}
.accordion__title{
    padding: 10px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: @dark_blue;
    position:relative;
    padding-left:40px;
    display: inline-block;
    &::before{
        content: "?";
        display: inline-block;
        height: 24px;
        line-height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        color:#fff;
        background-color: @dark_blue;
        margin-right: 10px;
    }
    span{
    }
}
.accordion__content{
    display: none;
    padding: 10px 80px;
    padding-right: 20px;
    height: 0px;
    opacity: 0;
    transition: all 1.7s ease 0.5s;
}

.accordion__item--opened{
    padding-bottom: 15px;
    opacity: 1;
    .accordion__content{
        opacity: 1;
        display: block;
        height: auto;
    }
}
