/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.preheader {
  display: flex;
  position: relative;
  height: 700px;
  margin-top: -100px;
}
.preheader-background {
  height: 100%;
  width: 100%;
  background-image: url('../images/bg_5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}
.preheader-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(31, 31, 31, 0.6);
}
.divcenter {
  width: 100%;
  padding-top: 260px;
  text-align: center;
}
.main-title > h1 {
  font-size: 46px;
  line-height: 75px;
  color: #fcfcfc;
  letter-spacing: 2px;
  font-weight: 900;
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width:768px) {
  .main-title > h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
.main-title > p {
  margin: 0;
  color: #84c0de;
  font-weight: 300;
  opacity: 0.7;
  font-size: 24px;
}
@media (max-width:768px) {
  .divcenter {
    padding-top: 190px;
  }
  .preheader {
    flex-direction: column;
    height: 500px;
  }
  .preheader__left {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .divcenter {
    padding-top: 190px;
  }
  .main-title > h1 {
    font-size: 24px;
    line-height: 35px;
  }
}
