/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
  max-width: 1170px;
}
@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width:768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width:576px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.dropdown-menu,
body {
  font-size: 0.875rem;
}
.dropdown-menu .nav-opened,
body .nav-opened {
  position: fixed;
}
::selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #4FA0EC;
  color: #fff;
  text-shadow: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:active,
:focus {
  outline: 0 !important;
}
body {
  line-height: 1.5;
  color: #555;
  font-family: Lato, sans-serif;
  margin: 0;
  font-weight: 400;
  text-align: left;
  background-color: #fff;
}
a {
  text-decoration: none !important;
  color: #bcbcbc;
}
a:hover {
  color: #84c0de;
}
a img {
  border: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f68a8;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
  font-family: Raleway, sans-serif;
}
h5,
h6 {
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h4 {
  font-weight: 600;
}
h5,
h6 {
  font-weight: 700;
}
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #4FA0EC;
}
address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
  padding: 0;
  margin: 0;
}
small {
  font-family: Lato, sans-serif;
}
#wrapper {
  width: 100%;
  margin: 0;
  position: relative;
  float: none;
  background-color: #fff;
  overflow: hidden;
}
.section {
  position: relative;
  margin: 0;
  padding: 60px 0;
  /*    background-color: #3762cc6b;*/
  overflow: hidden;
}
.section-dark {
  background-color: #f5f5f5;
}
#content {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
}
.content-wrap {
  position: relative;
  padding: 0;
}
.content-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/Background_LM/png/Background_LM_3.png);
  background-repeat: repeat-y;
  background-position: top;
  background-size: contain;
  z-index: 1;
}
.title {
  position: relative;
  margin-bottom: 30px;
}
.title h2 {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 0;
}
.title-center {
  text-align: center;
}
.title-center h2 {
  padding: 0 15px;
}
.uppercase {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
/**** table *****/
table,
.table {
  display: table;
  width: 100%;
  border-spacing: 0;
}
thead,
.table-header {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tr,
.table-row,
table-header {
  display: table-row;
}
th,
.table-cell {
  display: table-cell;
  text-align: center;
  border-top: 1px solid #dedede;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dedede;
}
/***** columns **********/
.col-3 {
  flex-basis: 33%;
  padding: 0px 20px;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
/***header***/
.header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.83);
  height: 70px;
  transition: height 0.4s ease, opacity 0.3s ease;
}
.header-wrap {
  position: relative;
  background-color: rgba(255, 255, 255, 0.83);
  z-index: 199;
  -webkit-backface-visibility: hidden;
  height: 70px;
  -webkit-transition: height 0.4s ease, opacity 0.3s ease;
  -o-transition: height 0.4s ease, opacity 0.3s ease;
  transition: height 0.4s ease, opacity 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__link {
  display: flex;
}
.logo__img {
  max-height: 40px;
  width: auto;
  margin: 0;
  margin-left: 40px;
  transition: all 0.5s ease;
}
.header__phone {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}
@media (max-width:768px) {
  .header__logo {
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .header__phone {
    margin-left: 20px;
  }
}
@media (max-width:576px) {
  .header__phone {
    font-size: 14px;
  }
}
.header--sticky {
  border-bottom: 1px solid #f5f5f5;
}
.header--sticky .header-wrap {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header--sticky .header__logo {
  position: relative;
}
.header--sticky .logo__img {
  width: auto;
}
@media (max-width:576px) {
  .header--sticky .header-wrap {
    height: 60px;
  }
  .header--sticky .logo__img {
    max-height: 60px;
    margin: 0px 0px 0px 0px;
  }
}
/*** main menu ***/
.primary-menu {
  display: block;
}
.primary-menu__list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin: 0;
  -webkit-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  -o-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
}
.primary-menu__item {
  position: relative;
  float: left;
}
.primary-menu__item:hover > a.primary-menu__link,
.primary-menu__item.active > a.primary-menu__link {
  color: #84c0de;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-top-color: rgba(227, 30, 36, 0.4);
}
.primary-menu__link {
  line-height: 25px;
  padding: 35px 20px 35px;
  text-transform: uppercase;
  border-top: 5px solid transparent;
  display: block;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: margin 0.4s ease, padding 0.4s ease;
  -o-transition: margin 0.4s ease, padding 0.4s ease;
  transition: margin 0.4s ease, padding 0.4s ease;
}
.primary-menu__background {
  display: none;
}
.primary-menu--opened .primary-menu__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out 0.5s;
  display: block;
}
.primary-menu__toggle-btn {
  display: none;
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #3da5cb;
  cursor: pointer;
  border: none;
  z-index: 2;
  transition: 0.5s ease;
}
.primary-menu__toggle-btn:active {
  background-color: #2f68a8;
}
.primary-menu__toggle-btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 8px;
  width: 34px;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}
.primary-menu__toggle-btn:active::before {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.4), 0 16px 0 0 rgba(255, 255, 255, 0.4);
}
.primary-menu--opened .primary-menu__toggle-btn {
  top: 20px;
  right: 260px;
  transition: 0.5s ease-in-out 0.2s;
  position: absolute;
}
.primary-menu--opened .primary-menu__toggle-btn::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 32px;
  height: 2px;
  background-color: #fff;
  box-shadow: none;
  transform: rotate(45deg);
}
.primary-menu--opened .primary-menu__toggle-btn::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 32px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
}
@media (max-width:1200px) {
  .primary-menu--opened .primary-menu__list {
    margin-right: 0px;
    background-color: #fff;
    box-shadow: 0 15px 20px 5px;
    right: 0px;
    position: fixed;
  }
  .primary-menu__list {
    position: absolute;
    overflow: auto;
    bottom: 0;
    top: 0;
    right: -260px;
    width: 260px;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .primary-menu__link {
    padding: 15px 20px;
  }
  .primary-menu__toggle-btn {
    display: inherit;
  }
}
.submenu:hover > .submenu__list {
  display: block;
}
.submenu__list {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 199;
  border: 1px solid #eee;
  border-top: 2px solid #4e9eea;
  height: auto;
  box-shadow: 0 20px 41px 1px rgba(0, 0, 0, 0.1);
}
.submenu__item {
  padding: 0;
  margin: 0;
}
.submenu__item--active {
  background-color: #c0e1ff;
}
.submenu__item--active .submenu__link {
  padding-left: 30px;
  padding-right: 20px;
  color: #222;
}
.submenu__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  transition: padding-left 0.4s ease, padding-right 0.4s ease;
}
.submenu__link:hover {
  padding-left: 30px;
  padding-right: 20px;
}
@media (max-width:1200px) {
  .submenu__list {
    top: 0;
    padding: 0;
    display: block;
    position: relative;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #4e9eea;
  }
  .submenu__link {
    padding-left: 40px;
    border: 1px solid #eee;
  }
}
.preheader {
  display: flex;
  position: relative;
  height: 800px;
}
.preheader-background {
  height: 100%;
  width: 100%;
  background-image: url('../images/bg_img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.preheader-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(31, 31, 31, 0.4);
}
.divcenter {
  width: 100%;
  padding-top: 260px;
  text-align: center;
}
.main-title > h1 {
  font-size: 46px;
  line-height: 55px;
  color: #2f68a8;
  font-weight: 900;
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.2);
}
.main-title > p {
  margin: 0;
  color: #84c0de;
  font-weight: 300;
  opacity: 0.7;
  font-size: 24px;
}
@media (max-width:768px) {
  .preheader {
    flex-direction: column;
    height: auto;
  }
  .preheader__left {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .divcenter {
    padding-top: 190px;
  }
  .main-title > h1 {
    font-size: 36px;
    line-height: 55px;
    font-weight: 900;
    text-shadow: 0 7px 10px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.2);
  }
}
/********* MAIN PAGE ******/
.backcall-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background: url(images/Slider/2.jpg) center center no-repeat;
  background-size: cover;
}
.backcall-widget__form {
  width: 60%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.67);
  border-radius: 5px;
}
@media (max-width:576px) {
  .backcall-widget {
    width: auto;
  }
}
input.text {
  border: 0;
  box-shadow: none;
  overflow: hidden;
  display: block;
  height: calc(1.5em + 1rem + 2px);
  width: 100%;
  margin-bottom: 30px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group-append {
  display: flex;
  justify-content: center;
}
button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  padding: 0 22px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  background-color: #4FA0EC;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}
.service-card__title h3 {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}
.service-card__image {
  padding: 20px 0;
}
.service-card__image img {
  max-width: 80px;
  display: block;
  margin: auto;
}
.service-card__content {
  padding: 0 10px;
}
.service-card__list {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.service-card__item {
  font-size: 14px;
  text-transform: lowercase;
}
.service-card__price p {
  text-align: center;
  font-weight: 900;
  font-family: sans-serif;
  margin: 10px;
  font-size: 18px;
  color: #004b70;
}
.service-card__order-button {
  text-align: center;
}
@media (max-width:768px) {
  .service-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .service-card__title {
    flex-basis: 65%;
    text-align: left;
  }
  .service-card__title h3 {
    font-size: 14px;
  }
  .service-card__image {
    display: none;
  }
  .service-card__content {
    order: 2;
    flex-grow: 1;
    margin: 10px;
    display: none;
  }
  .service-card__list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }
  .service-card__item {
    font-size: 14px;
  }
  .service-card__price {
    flex-basis: 35%;
  }
  .service-card__price p {
    font-size: 14px;
  }
  .service-card__order-button {
    order: 3;
    flex-grow: 1;
    text-align: center;
    display: none;
  }
  .service-card--opened .service-card__content {
    display: block;
  }
  .service-card--opened .service-card__order-button {
    display: block;
  }
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  height: 200px;
  width: 25%;
  padding: 5px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__arrow {
  position: absolute;
  top: 40%;
  border-radius: 50%;
  padding: 5px 10px;
  z-index: 3;
}
.slider__arrow svg {
  fill: #fff;
}
.slider__arrow--next {
  right: 0;
}
@media (max-width:768px) {
  .slider-to-list {
    flex-direction: column;
  }
  .slider__arrow {
    display: none;
  }
}
.accordion__item {
  border-bottom: 1px solid rgba(0, 75, 112, 0.4);
  margin-bottom: 20px;
  padding-bottom: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: padding-bottom 1.5s ease, opacity 0.6s ease;
}
.accordion__item:hover {
  opacity: 1;
}
.accordion__title {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #004b70;
  position: relative;
  padding-left: 40px;
  display: inline-block;
}
.accordion__title::before {
  content: "?";
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #004b70;
  margin-right: 10px;
}
.accordion__content {
  display: none;
  padding: 10px 80px;
  padding-right: 20px;
  height: 0px;
  opacity: 0;
  transition: all 1.7s ease 0.5s;
}
.accordion__item--opened {
  padding-bottom: 15px;
  opacity: 1;
}
.accordion__item--opened .accordion__content {
  opacity: 1;
  display: block;
  height: auto;
}
.slider__bullets {
  position: absolute;
  z-index: 2;
  bottom: 1.5rem;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__bullet {
  background-color: rgba(79, 160, 236, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet--active {
  background-color: #4fa0ec;
}
.comment__img {
  height: 80px;
  width: 80px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
.comment__content {
  width: 80%;
  margin: auto;
}
.comment__meta {
  font-weight: 700;
}
.footer {
  padding-top: 50px;
  background-color: #bbb;
  color: #fff;
}
.footer__links {
  display: flex;
}
.footer-title {
  text-align: center;
}
@media (max-width:768px) {
  .sitemap {
    flex-wrap: wrap;
  }
  .sitemap__col {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .sitemap__col {
    width: 100%;
  }
}
.footer__links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  padding: 30px 0 40px;
}
.footer-menu {
  padding: 10px 15px;
  flex-shrink: 1;
}
.footer__contacts {
  padding: 10px 35px;
  flex-shrink: 0;
}
.footer-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-menu__item {
  margin-right: 20px;
  margin-bottom: 30px;
}
.footer-menu__link {
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease;
}
.footer-menu__link:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
@media (max-width:576px) {
  .footer__links {
    flex-direction: column;
  }
  .footer__contacts {
    order: 1;
  }
  .footer-menu {
    order: 0;
  }
  .footer-menu__item {
    margin-right: 5px;
    margin-bottom: 20px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.42);
  z-index: 20;
  cursor: pointer;
  display: none;
  overflow: auto;
}
.opened {
  display: flex;
  align-items: center;
  justify-content: flex;
}
.opened .modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.42);
}
.modal-window {
  position: absolute;
  /*    top:10%;*/
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 21;
  cursor: default;
  box-shadow: 0px 0px 20px 3px #333;
  margin-bottom: 30px;
  margin-top: -9999px;
  transition: all ease-in 0.5s;
}
.modal-window.small {
  max-width: 450px;
}
.modal-window.big {
  max-width: 100%;
  width: 800px;
  margin: 30px;
}
.modal-window.open {
  margin-top: 0px;
  transition: all ease-out 0.5s;
}
.modal-header {
  height: 50px;
  line-height: 50px;
  padding: 15px;
  text-align: center;
  /*    background-color: #014da4;*/
}
.modal-header.transperent {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  left: 0;
  right: 0;
  z-index: 11;
}
.modal-title {
  font-size: 1.6em;
  text-transform: uppercase;
}
.btn-close {
  position: fixed;
  top: 25px;
  right: 20px;
  color: #2f68a8;
  font-size: 64px;
  font-family: MONOSPACE;
  padding: 0px 10px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .btn-close {
    top: -10px;
    right: -10px;
    color: #453d3d;
  }
}
.modal-body {
  padding: 40px 60px;
  text-align: center;
}
.modal-body_text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 24px;
}
@media screen and (max-width: 400px) {
  .modal-body_text {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 18px;
  }
}
.pricing-list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}
.pricing-item {
  flex-basis: 45%;
  background-color: #fff;
  padding: 20px 25px 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px #ddd;
}
.pricing-title {
  text-align: center;
}
.pricing-img {
  display: block;
  padding: 10px 20px;
  height: 150px;
  width: auto;
  margin: auto;
}
.pricing-table {
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.social__list {
  display: flex;
  justify-content: space-around;
}
.contacts-title {
  color: #333;
  margin-bottom: 5px;
}
