// out: ..\..\www\css\variables.css

/*серый фон страницы*/
@body-bg: #ffffff;
/*специфический цвет для данного дизайна*/
@blue: #2f68a8;
/*светлый цвет фона*/
@dark_blue: #004b70;
@light_blue:#84c0de;
/*фон панелей*/
@panel-bg: #f5f5f5;
/*цвет рамки панелей*/
@panel-inner-border: #e7e7e7;
/*убираем скругление у блоков*/
@border-radius-base: 0;
/*первичные кнопки имеют золотой фон*/
@btn-primary-bg: @blue;
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
//@container-md: 960px;
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
//@container-lg: @container-md;
/*основным шрифтом будет Tahoma*/
@font-family-base: Crimson, sans-serif;
/*задаем базовый размер*/
@font-size-base: 18px;
/*основной цвет текста на странице*/
@text-color: #495057;
/*серый фон текстовых полей*/
@input-bg: @panel-bg;
/*серая рамка текстовых полей*/
@input-border: @panel-inner-border;
/*серый цвет текста в полях*/
@input-color: #495057;
@links-color:#bcbcbc;
@links-active:@light_blue;
/* кол-во колонок увеличиваем до 24 */
@grid-columns: 24;
/* desktop */
@desktop: ~"(max-width:1200px)";
@tablet-hor: ~"(max-width:992px)";
@tablet: ~"(max-width:768px)";
@mobile: ~"(max-width:576px)";
