/*серый фон страницы*/
/*специфический цвет для данного дизайна*/
/*светлый цвет фона*/
/*фон панелей*/
/*цвет рамки панелей*/
/*убираем скругление у блоков*/
/*первичные кнопки имеют золотой фон*/
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
/*основным шрифтом будет Tahoma*/
/*задаем базовый размер*/
/*основной цвет текста на странице*/
/*серый фон текстовых полей*/
/*серая рамка текстовых полей*/
/*серый цвет текста в полях*/
/* кол-во колонок увеличиваем до 24 */
/* desktop */
.primary-menu {
  display: block;
}
.primary-menu__list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin: 0;
  -webkit-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  -o-transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
  transition: height 0.4s ease, margin 0.4s ease, opacity 0.2s 0.2s ease;
}
.primary-menu__item {
  position: relative;
  float: left;
}
.primary-menu__item:hover > a.primary-menu__link,
.primary-menu__item.active > a.primary-menu__link {
  color: #84c0de;
}
.transparent .primary-menu__item:hover a.primary-menu__link {
  background-color: rgba(255, 255, 255, 0);
}
.primary-menu__link {
  line-height: 25px;
  padding: 20px 20px 20px;
  text-transform: uppercase;
  border-top: 5px solid transparent;
  display: block;
  color: #eee;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: margin 0.4s ease, padding 0.4s ease;
  -o-transition: margin 0.4s ease, padding 0.4s ease;
  transition: margin 0.4s ease, padding 0.4s ease;
}
.primary-menu__background {
  display: none;
}
.primary-menu--opened .primary-menu__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out 0.5s;
  display: block;
}
.primary-menu__toggle-btn {
  display: none;
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #3da5cb;
  cursor: pointer;
  border: none;
  z-index: 2;
  transition: 0.5s ease;
}
.primary-menu__toggle-btn:active {
  background-color: #2f68a8;
}
.primary-menu__toggle-btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 8px;
  width: 34px;
  height: 3px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}
.primary-menu--opened .primary-menu__toggle-btn {
  top: 20px;
  right: 260px;
  transition: 0.5s ease-in-out 0.2s;
  position: absolute;
}
.primary-menu--opened .primary-menu__toggle-btn::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 32px;
  height: 2px;
  background-color: #fff;
  box-shadow: none;
  transform: rotate(45deg);
}
.primary-menu--opened .primary-menu__toggle-btn::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 32px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
}
@media (max-width:1200px) {
  .primary-menu--opened .primary-menu__list {
    margin-right: 0px;
    background-color: #fff;
    box-shadow: 0 15px 20px 5px;
    right: 0px;
    position: fixed;
  }
  .primary-menu__list {
    position: absolute;
    overflow: auto;
    bottom: 0;
    top: 0;
    right: -260px;
    width: 260px;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .primary-menu__link {
    padding: 15px 20px;
    color: #2f68a8;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-top-color: #2f68a8;
    background-color: #fcfcfc;
  }
  .primary-menu__toggle-btn {
    display: inherit;
  }
}
