@import '../variables.less';
.primary-menu{
    display: block;
}
.primary-menu__list{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    opacity: 1;
    margin: 0;
    -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    -o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;

//    margin-right: -999999px;
}
.primary-menu__item{
    position: relative;
//    overflow: hidden;
    float:left;
    &:hover > a.primary-menu__link, &.active > a.primary-menu__link{
//        background-color: #4FA0EC;
        color: rgb(132, 192, 222);
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        // border-top-color: @blue;
        // background-color: #fcfcfc;
    }
}
.transparent .primary-menu__item:hover{
    a.primary-menu__link{
        background-color: rgba(255,255,255,0);
    }
}
.primary-menu__link{
    line-height: 25px;
    padding: 20px 20px 20px;
    text-transform: uppercase;
    border-top: 5px solid transparent;
    display: block;
    color: #eee;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
}
.primary-menu__background{
    display: none;
}
.primary-menu--opened .primary-menu__background{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    transition: 1s ease-in-out 0.5s;
    display: block;
}
.primary-menu__toggle-btn{
    display: none;
    position: relative;

    width: 50px;
    height: 40px;
    background-color: #3da5cb;
    cursor: pointer;
    border: none;
    z-index: 2;

    transition: 0.5s ease;
    &:active{
        background-color: @blue;
    }
}
.primary-menu__toggle-btn::before{
    content: "";

    position: absolute;
    top: 11px;
    left: 8px;

    width: 34px;
    height: 3px;
    background-color: #fff;

    box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}
.primary-menu__toggle-btn:active::before{
    // background-color: rgba(255,255,255,0.4);
    // box-shadow: 0 8px 0 0 rgba(255,255,255,0.4), 0 16px 0 0 rgba(255,255,255,0.4);
}
.primary-menu--opened .primary-menu__toggle-btn{
    top:20px;
    right: 260px;
    transition: 0.5s ease-in-out 0.2s;
    position: absolute;
}
.primary-menu--opened .primary-menu__toggle-btn::before{
    content:"";

    position: absolute;
    top:20px;
    left:10px;

    width: 32px;
    height: 2px;

    background-color: #fff;
    box-shadow: none;
    transform: rotate(45deg);
}
.primary-menu--opened .primary-menu__toggle-btn::after{
    content:"";

    position: absolute;
    top:20px;
    left:10px;

    width: 32px;
    height: 2px;

    background-color: #fff;
    transform: rotate(-45deg);
}
@media @desktop{
    .primary-menu--opened{
        .primary-menu__list{
            margin-right: 0px;
            background-color: #fff;
            box-shadow: 0 15px 20px 5px;
            right: 0px;
            position: fixed;
        }
    }
    .primary-menu__list{
        position: absolute;
        overflow: auto;
        bottom: 0;
        top: 0;
        right: -260px;
        width: 260px;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .primary-menu__link{
        padding: 15px 20px;
        color: @blue;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        border-top-color: @blue;
        background-color: #fcfcfc;
    }
    .primary-menu__toggle-btn{
        display: inherit;
    }
}

