@import "../variables.less";
.submenu:hover > .submenu__list{
    display:block;
}
.submenu__list{
    list-style: none;
    margin: 0;
    padding: 0px;

    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    left: 0;

    background-color: #fff;
    z-index: 199;

    border: 1px solid #eee;
    border-top: 2px solid #4e9eea;
    height: auto;

    box-shadow: 0 20px 41px 1px rgba(0,0,0,.1);
}
.submenu__item{
    padding:0;
    margin:0;
}
.submenu__item--active{
    background-color: #c0e1ff;
    .submenu__link{
        padding-left: 30px;
        padding-right: 20px;
        color:#222;
    }
}
.submenu__link{
    display:block;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    transition: padding-left 0.4s ease, padding-right .4s ease;
    &:hover{
        padding-left: 30px;
        padding-right: 20px;
    }
}
@media @desktop{
    .submenu__list{
        top:0;
        padding: 0;
        display: block;
        position: relative;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid #4e9eea;
    }
    .submenu__link{
        padding-left: 40px;
        border: 1px solid #eee;
//        background-color: @blue;
//        color:#fff;
    }
}
