.social{
    
}
.social__list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social__item{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 20px;
}
a.social__link{
	color:#fff;
	width: 35px;
	height: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	display:block;
}
.social__link--vk{
	background-image:url('../images/icons/vk.png');
}
.social__link--fb{
	background-image:url('../images/icons/fb.png')
}

.partners__item{
	.social__link{
		width:auto;
	}
}