.slider__bullets {
  position: absolute;
  z-index: 2;
  bottom: -1.5rem;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__bullet {
  background-color: rgba(79, 160, 236, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet--active {
  background-color: #4fa0ec;
}
.comment__img {
  height: 80px;
  width: 80px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}
.comment__content {
  width: 80%;
  margin: auto;
}
.comment__meta {
  font-weight: 700;
}
