@import "../../variables.less";
.gallery{
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
}
.gallery-item {
    height: 200px;
    width: 25%;
    padding: 5px;
    cursor:pointer;
    @media @tablet{
        width:33%;
    }
    @media @mobile{
        width:50%;
    }
}

.gallery-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
}